[submodule "imgui_sdl"]
	path = imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "crpat"]
	path = crpat
	url = https://github.com/ennorehling/crpat.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/ennorehling/cJSON.git
