[submodule "crpat"]
	path = crpat
	url = https://github.com/ennorehling/crpat.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "sds"]
	path = sds
	url = https://github.com/ennorehling/sds.git
[submodule "cutest"]
	path = cutest
	url = https://github.com/ennorehling/cutest.git
